static/three.js
static/helvetiker_bold.typeface.json
/node_modules
/package-lock.json
curlingenv/__pycache__
.ipynb_checkpoints
/logs
/__pycache__
*.ipynb
/graphs
/dist
/models
cdefinitions.cpython-37m-darwin.so
cdefinitions.c
cdefinitions.cpython-38-darwin.so
/build
awsupload/uploadedfolders.txt